In [1]:
# Устанавливаем OpenJDK
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# Закачиваем Spark
!wget -q http://archive.apache.org/dist/spark/spark-3.2.0/spark-3.2.0-bin-hadoop2.7.tgz -O spark.tgz
# Распаковываем архив со Spark
!tar xf spark.tgz
# Устанавливаем пакет findspark для работы со Spark из Python
!pip install -q findspark
# Настраиваем переменные окружения для работы с Apache Spark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop2.7"
# Находим установку Spark
import findspark
findspark.init()
# Подключаем необходимые модули для работы со Spark из Python
from pyspark.sql import SparkSession
# Создаем сессию Spark на локальном компьютере
spark = SparkSession.builder.master("local[*]").getOrCreate()
!wget https://datahub.io/core/world-cities/r/world-cities.json -O /content/world-cities.json -q

##Задача 1 Модернизируйте заготовку заменив все участки <put your code here> на ваш код для того, чтобы:

выводить на экран схему кадра данных

вычислять и выводить на экран в порядке убывания количества городов страны сгруппированные по стране и региону

In [2]:
from pyspark.sql.functions import col, count, count_distinct, desc

count_distinct - Returns a new Column for distinct count of col or cols.

In [3]:
df = spark.read.json("/content/world-cities.json")
df.printSchema()

root
 |-- country: string (nullable = true)
 |-- geonameid: long (nullable = true)
 |-- name: string (nullable = true)
 |-- subcountry: string (nullable = true)

In [5]:
df.groupBy("country").agg(count_distinct(col('subcountry')).name('subcountry'),count(col("*")).name('cnt')).orderBy(desc('cnt')).show()

+--------------+----------+----+
|       country|subcountry| cnt|
+--------------+----------+----+
| United States|        51|2699|
|         India|        35|2443|
|        Brazil|        27|1200|
|        Russia|        82|1093|
|       Germany|        16|1055|
|         China|        31| 799|
|         Japan|        47| 736|
|        France|        13| 633|
|         Italy|        20| 571|
|         Spain|        19| 569|
|        Mexico|        32| 561|
|United Kingdom|         4| 513|
|   Philippines|        17| 439|
|        Turkey|        81| 383|
|     Indonesia|        35| 372|
|        Poland|        16| 327|
|      Pakistan|         6| 312|
|   Netherlands|        12| 258|
|       Ukraine|        27| 257|
|       Algeria|        47| 247|
+--------------+----------+----+
only showing top 20 rows